@charset "utf-8"; 
.cFix:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.wrapper {
  width: 100%;
}
.wrap-inr {
  width: 960px;
  margin: 0 auto;
}